---
import Layout from "../layouts/Layout.astro";
import Categoria from "../components/Categoria.astro";
---

<Layout title="Inicio | LibreriaAstro">
  <main>
    <div id="introduccion-inicio">
      <div class="flex justify-center text-center">
        <img src="favicon.svg" class="h-16" alt="LibreriaAstro Logo" />
        <h1 class="ml-4">LibreriaAstro</h1>
      </div>
      <ul role="list" class="link-card-grid">
        <Categoria
          clase="bg-minecraft"
          href="/minecraft"
          title="Libros sobre Minecraft"
          body="Una colección sobre libros de Minecraft."
        />
        <Categoria
          clase="bg-proximamente"
          href="#"
          title="Proximamente"
          body="Una categoria proximamente."
        />
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 2rem;
  }
  #introduccion-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
  }
</style>
