---
import Layout from "../layouts/Layout.astro";
import Categoria from "../components/Categoria.astro";
import { Image } from "astro:assets";
---

<Layout title="Inicio | EstelaLectura">
  <main>
    <div id="introduccion-inicio">
      <div class="flex justify-center text-center items-center">
        <Image
        src="/logo.png"
        alt="EstelaLectura Logo"
        width="80"
        height="80"
        loading="eager"
      />
        <div class="ml-4">
          <h1 class="mb-1">EstelaLectura</h1>
          <p class="mb-5 text-center">Una librería donde se muestran libros de diversos temas</p>
        </div>
      </div>
      <ul role="list" class="link-card-grid">
        <Categoria
          clase="bg-minecraft"
          href="/minecraft"
          title="Libros sobre Minecraft"
          body="Explora guías y manuales sobre Minecraft y sus secretos."
        />
        <Categoria
        clase="bg-programacion"
        href="/programacion"
        title="Programación"
        body="Explora y aprende sobre programación con estos libros"
        />
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  #introduccion-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    gap: 1.5rem;
  }
  @media (min-width: 640px) {
    h1 {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1rem;
    }
    #introduccion-inicio {
      min-height: 90vh;
    }
    .link-card-grid {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  }
</style>
