---
import Layout from "../layouts/Layout.astro";
import Libro from "../components/Libro.astro";
---

<Layout title="Minecraft Libros | EstelaLectura">
  <main>
    <h1 class="text-3xl font-bold text-center mt-3 mb-6">
      Libros sobre Minecraft
    </h1>
    <ul class="link-card-grid mt-1">
      <Libro
        href="https://amzn.eu/d/jjOJ6Bh"
        title="Manual de redstone"
        autor="de Mojang Ab"
        body="Lleva tu creatividad y tu capacidad de fabricación a un nivel más alto con el Manual de redstone de Minecraft."
        src="https://m.media-amazon.com/images/I/81X2vTbaN0L._SY466_.jpg"
      />
      <Libro
        href="https://amzn.eu/d/eaAZD2u"
        title="Manual creativo de Minecraft"
        autor="de Mojang Ab"
        body="Da rienda suelta a tu imaginación y a tu inventiva con el Manual creativo oficial de Minecraft."
        src="https://m.media-amazon.com/images/I/81UzNKgzxBL._SY466_.jpg"
      />
      <Libro
        href="https://amzn.eu/d/bj1M3Mn"
        title="Manual de supervivencia"
        autor="de Mojang Ab"
        body="Hay muchas formas de jugar a Minecraft, y una de las más populares es el modo Supervivencia."
        src="https://m.media-amazon.com/images/I/81UxNK5BnHL._SY466_.jpg"
      />
      <Libro
        href="https://amzn.eu/d/avLTO1G"
        title="Manual de explorador"
        autor="de Mojang Ab"
        body="Responde a la llamada de la aventura y prepárate para la acción con el Manual del explorador de Minecraft."
        src="https://m.media-amazon.com/images/I/7191Fj89XiL._SY466_.jpg"
      />
      <Libro
        href="https://amzn.eu/d/hHFRYWk"
        title="Manual de combate"
        autor="de Mojang Ab"
        body="Ponte la armadura, afila la espada y métete de cabeza en el Manual de Combate oficial de Minecraft."
        src="https://m.media-amazon.com/images/I/81BLpiEjEyL._SY466_.jpg"
      />
      <Libro
        href="https://amzn.eu/d/fYbONBK"
        title="Miniconstrucciones - 20 Divertidos Proyectos"
        autor="de Mojang Ab"
        body="Aprende a diseñar, construir y personalizar 20 miniproyectos en Minecraft."
        src="https://m.media-amazon.com/images/I/81qxeOJ3wUL._SY466_.jpg"
      />
    </ul>
  </main>
</Layout>

<style>
  html {
    background-image: url(/fondos/minecraft.webp);
    background-attachment: fixed;
    background-size: cover;
  }
  .link-card-grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: auto;
    justify-content: center;
    gap: 1rem;
    padding: 0;
  }
  @media (min-width: 640px) {
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
      width: 60%;
    }
  }
  @media (min-width: 980px) {
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      width: 70%;
    }
  }
  @media (min-width: 1024px) {
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      width: 40%;
    }
  }
  @media (min-width: 1132px) {
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      width: 50%;
    }
  }
  @media (min-width: 1200px) {
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      width: 40%;
    }
  }
</style>
