---
interface Props {
  title: string;
  body: string;
  href: string;
  clase: string;
}

const { href, title, body, clase } = Astro.props;
---

<li class=`link-card ${clase}`>
  <a href={href}>
    <h2 class="text-xl mt-2 text-center">{title}</h2>
    <p class="mt-2 text-center">{body}</p>
  </a>
</li>
<style>
  .bg-programacion {
    background-image: url(/fondos/programacion.webp);
    background-size: cover;
  }
  .bg-minecraft {
    background-image: url(/fondos/minecraft.webp);
    background-attachment: fixed;
  }
  .link-card {
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 100%;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  .link-card > a {
    padding: calc(2rem - 1px);
  }
  .link-card:is(:hover) h2 {
    color: var(--accent-light);
  }
</style>
