---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { Image } from "astro:assets";
import { navLinks } from "../data/links.js";

const isActive = (href: string) => {
  if (Astro.url.pathname === href || Astro.url.pathname === `${href}/`)
    return true;
  return false;
};
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Una librería donde se muestran libros de diversos temas"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="logo.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <div
        class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4"
      >
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <Image
            src="/logo.png"
            alt="EstelaLectura Logo"
            width="32"
            height="32"
            loading="eager"
          />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap text-white"
            >EstelaLectura</span
          >
        </a>
        <button
          data-collapse-toggle="navbar-default"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
          <span class="sr-only">Abrir menu principal</span>
          <Image
            src="/logo.png"
            alt="EstelaLectura Logo"
            width="32"
            height="32"
            loading="eager"
          />
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul
            class="font-medium flex flex-col p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 bg-gray-900"
          >
            {
              navLinks.map((link) => (
                <li>
                  <a
                    href={isActive(link.href) ? `${link.href}#` : link.href}
                    class={`block py-2 px-3 rounded md:p-0 md:bg-transparent ${
                      isActive(link.href) ? "bg-blue-700 md:text-blue-500" : ""
                    }`}
                    aria-current={isActive(link.href) ? "page" : undefined}
                  >
                    {link.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </nav>
    <slot />
  </body>
  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: #83a7e2;
      --accent-dark: 49, 10, 101;
    }
    * {
      margin: 0;
      padding: 0;
      color: white;
    }
    html {
      font-family: system-ui, sans-serif;
      background: #13151a;
    }
    main {
      margin: auto;
      padding: 0.5rem;
      max-width: calc(100% - 2rem);
      color: white;
      line-height: 1.6;
    }
    nav {
      background-color: #111827;
    }
    p {
      font-size: 14px;
    }
    @media (min-width: 640px) {
      p {
        font-size: 16px;
      }
    }
  </style>

  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"
    defer></script>
</html>
